<h2 mat-dialog-title>Scheduler ADM</h2>
<h5>
  Web Administrator to schedule existing tasks already registerd. It's possible to manage the current execution,
  add new tasks, check the status, analyse execution logs and monitoring the running tasks by Dashboard.
</h5>

<mat-divider></mat-divider><br />

<mat-dialog-content class="mat-typography">

  <h3>What's is new in version X.X.X
    <small><i>(Date: XX/XX/XXXX - Developer: @XXXXX)</i></small>
  </h3>

  <fieldset>
    <legend>
      <div class="with-icon">
        <mat-icon>language</mat-icon>&nbsp;Added Features
      </div>
    </legend>
    <ul>
      <li>F1</li>
      <li>F2</li>
      <li>F3</li>
    </ul>
  </fieldset>

  <br />

  <fieldset>
    <legend>
      <div class="with-icon">
        <mat-icon>bug_report</mat-icon>&nbsp;Fixed Bugs
      </div>
    </legend>
    <ul>
      <li>B1</li>
      <li>B2</li>
      <li>B3</li>
    </ul>
  </fieldset>

  <br />

  <fieldset>
    <legend>
      <div class="with-icon">
        <mat-icon>notification_important</mat-icon>&nbsp;Warning & Notes
      </div>
    </legend>
    <ul>
      <li>N1</li>
      <li>N2</li>
      <li>N3</li>
    </ul>
  </fieldset>

  <br />
  <mat-divider></mat-divider>
  <br />

</mat-dialog-content>