<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon>format_color_fill</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="changeTheme('light')">
    <mat-icon aria-hidden="false" class="light-bg soft">camera</mat-icon>
    Light
  </button>
  <button mat-menu-item (click)="changeTheme('dark')">
    <mat-icon aria-hidden="false" class="dark-bg dark">camera</mat-icon>
    Dark
  </button>
  <button mat-menu-item (click)="changeTheme('alternative')">
    <mat-icon aria-hidden="false" class="alternative-bg soft">camera</mat-icon>
    Alternative
  </button>
</mat-menu>
