.stats-cards {
  .mat-card {
    overflow: hidden;
  }

  .card1 {
    background-image: linear-gradient(to right, #1976d2, #64b5f6);
  }
  .card2 {
    background-image: linear-gradient(to right, #e68e00, #f8b12c);
  }
  .card3 {
    background-image: linear-gradient(to right, #00b300, #66ff66);
  }
  .card4 {
    background-image: linear-gradient(to right, #c2185b, #d1849f);
  }

}
