.text {
  color: white;
}

.title {
  font-weight: bold;
}

.description {
  font-size: 1em;
}

.detail {
  float: right;
}

.mat-icon {
  font-size: 1.5em;
  float: right;
}

progress {
  border: none;
  width: 400px;
  height: 60px;
  background: crimson;
}

progress {
  width: 100%;
  border-radius: 5px;
  height: 5px;
}

progress::-moz-progress-value {
  background: white;
}

progress::-moz-progress-bar {
  background: lightgray;
}

progress::-webkit-progress-value {
  background: white;
}

progress::-webkit-progress-bar {
  background: lightgray;
}