<mat-card>
  <mat-card-header>
    <mat-card-title>Task Manager</mat-card-title>
    <mat-card-subtitle>Control the execution of existing tasks/jobs as stopping, pausing, start or change the current trigger. Also it is possible to add new tasks to execution plan.</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>

  <section>
    <div class="button-row">
      <button mat-stroked-button color="warn" (click)="stopAll()">
        <mat-icon>error_outline</mat-icon>
        Stop All
      </button>
    </div>
  </section>

  <mat-card-content>
    <div class="table-container mat-elevation-z8">
      <table mat-table matSort [dataSource]="taskManagerDataSource">

        <ng-container *ngFor="let column of taskManagerColumns" matColumnDef="{{column.columnDef}}">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> {{column.header}} </th>
          <div *ngIf="column.type === 'common'">
            <td mat-cell *matCellDef="let row"> {{column.cell(row)}} </td>
          </div>
          <div *ngIf="column.type === 'actions'">
            <td mat-cell *matCellDef="let row">
              <mat-icon 
                matTooltip="{{action.alt}}" class="mr-5" 
                *ngFor="let action of column.actions"
                color={{action.color}}
                (click)="actionInvoke(action.event, row)"
              >
                {{action.icon}}
              </mat-icon>
            </td>
          </div>
          <div *ngIf="column.type === 'settings'">
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Admin Settings" matTooltip="Admin Settings">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let setting of column.settings" (click)="actionInvoke(setting.event, row)">
                  <mat-icon>{{setting.icon}}</mat-icon>
                  <span>{{setting.alt}}</span>
                </button>
              </mat-menu>
            </td>
          </div>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="taskManagerDisplayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: taskManagerDisplayedColumns;"></tr>
      </table>
      <app-widget-spinner [isLoading]="isTaskLoading"></app-widget-spinner>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

<br />
<mat-divider></mat-divider>
<br />

<mat-card>
  <mat-card-header>
    <mat-card-title>Execution Logs</mat-card-title>
    <mat-card-subtitle>Check the latest status of running tasks.</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>

  <section>
    <div class="button-row">
      <button mat-stroked-button color="primary" (click)="refreshLogs()">
        <mat-icon>autorenew</mat-icon>
        Refresh Logs
      </button>
    </div>
  </section>

  <mat-card-content>
    <div class="table-container mat-elevation-z8">
      <table mat-table matSort [dataSource]="jobsDataSource">

        <ng-container *ngFor="let column of jobsColumns" matColumnDef="{{column.columnDef}}">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> {{column.header}} </th>
          <div *ngIf="column.type === 'common'">
            <td mat-cell *matCellDef="let row"> {{column.cell(row)}} </td>
          </div>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="jobsDisplayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: jobsDisplayedColumns;"></tr>
      </table>
      <app-widget-spinner [isLoading]="isJobsLoading"></app-widget-spinner>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
