<div class="box-bg">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>LOGIN</mat-card-title>
      <mat-card-subtitle>Scheduler Administrator</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form novalidate [formGroup]="loginForm">
        <div fxLayout="column" class="box-margin">
          <mat-form-field fxFlex>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username" required>
            <mat-error>
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password" formControlName="password" required>
            <mat-error>
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <br />
          <button mat-raised-button color="primary" (click)="login()">
            <mat-icon>login</mat-icon>
            Enter
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>