.login-card {
  width: 400px;
  background-color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 35%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.box-margin {
  margin: 10px 15px 10px 15px;
}

.box-bg {
  background-image: linear-gradient(to right, #1976d2, #64b5f6);
  height: 100%;
}