/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.default-bg {
  background-image: linear-gradient(to right, #6600ff, #c299ff);
}
.light-bg {
  background-image: linear-gradient(to right, #1976d2, #64b5f6);
}
.dark-bg {
  background-image: linear-gradient(to right, #f9a825, #ffee58);
}
.alternative-bg {
  background-image: linear-gradient(to right, #c2185b, #f8bbd0);
}
.green-bg {
  background-image: linear-gradient(to right, #00b300, #66ff66);
}

table {
  width: 100%;
}

.table-container {
  overflow: auto;
}

section {
  margin-top: 20px;
  text-align: right;
}

.button-row button {
  margin-left: 5px;
  margin-bottom: 10px;
}